#cont_j{

    padding: 25px;
    margin: 50px;
    margin-right: 0px;
    margin-left: 0px;
    width: 450px;
    height: 450px;
    float: left;
    background-image:url('../../../assets/fondo_jhony_opt.jpg');
    align-content: center;
}
#cont_j2{

    padding: 25px;
    margin: 50px;
    margin-left: 0px;
    width: 450px;
    height: 450px;
    float: left;
    background-image:url('../../../assets/fondo_jhony_opt.jpg');
    align-content: center;
}

#imgj{
    align-content: center;
}