
<div id="video_dani">

    <video  autoplay loop>
        <source src="../../../assets/video_dani.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
</div>

<div id="felicitacion" >
        <!--<img src="../../../assets/fondo_dani.jpg"  class="img-thumbnail"> -->
        <h4 class="display-8 font-weight-bold" >FELIZ CUMPLEAÑOS!!! AMIGA MÍA</h4>
        <p class="font-weight-bolder"> DECEARTE LO MEJOR DEL MUNDO, QUE DIOS TE LLENE DE BENDICIONES SIEMPRE Y TE DE MIL MOTIVOS PARA SONREÍR,&nbsp; "TE QUIERO", PASALA LINDO UN CUMPLEAÑOS DIFERENTE PERO SIN DUDA CON EL MISMO CARIÑO Y APRECIO HACÍA TÍ  🤗🤗🤗</p>
</div>
<div id="pdta" class="alert alert-success" role="alert">
   <span class="font-weight-bolder"> Tu amiga que te quiere, "Danitza"</span> 
</div>
<div class="clearfix"></div>