<!--carrousel 01-->
<div id="lateral">
  <div id="carrousel_01" class="carousel slide " data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carrousel_01" data-slide-to="0" class="active"></li>
      <li data-target="#carrousel_01" data-slide-to="1"></li>
      <li data-target="#carrousel_01" data-slide-to="2"></li>
      <li data-target="#carrousel_01" data-slide-to="3"></li>
      <li data-target="#carrousel_01" data-slide-to="4"></li>
      <li data-target="#carrousel_01" data-slide-to="5"></li>
      <li data-target="#carrousel_01" data-slide-to="6"></li>
      <li data-target="#carrousel_01" data-slide-to="7"></li>
      <li data-target="#carrousel_01" data-slide-to="8"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img_paradas/img_02_opt.jpg" class="d-block " alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img_paradas/img_05_opt.jpg" class="d-block " alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img_paradas/img_06_opt.jpg" class="d-block " alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img_paradas/img_10_opt.jpg" class="d-block " alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img_paradas/img_11_opt.jpg" class="d-block " alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img_paradas/img_16_opt.jpg" class="d-block " alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img_paradas/img_17_opt.jpg" class="d-block " alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img_paradas/img_18_opt.jpg" class="d-block " alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img_paradas/img_23_opt.jpg" class="d-block " alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carrousel_01" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carrousel_01" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div id="goku">
    <img src="../../../assets/goku_hb.jpg" class="d-block " alt="...">
  </div>
</div>

<!--carrousel 02-->
<div id="carrousel_02" class="carousel slide " data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carrousel_02" data-slide-to="0" class="active"></li>
    <li data-target="#carrousel_02" data-slide-to="1"></li>
    <li data-target="#carrousel_02" data-slide-to="2"></li>
    <li data-target="#carrousel_02" data-slide-to="3"></li>
    <li data-target="#carrousel_02" data-slide-to="4"></li>
    <li data-target="#carrousel_02" data-slide-to="5"></li>

  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/img_echadas/img_01_opt.jpg" class="d-block " alt="...">
    </div>
    <div class="carousel-item ">
      <img src="../../../assets/img_echadas/img_08_opt.jpg" class="d-block " alt="...">
    </div>
    <div class="carousel-item ">
      <img src="../../../assets/img_echadas/img_09_opt.jpg" class="d-block " alt="...">
    </div>
    <div class="carousel-item ">
      <img src="../../../assets/img_echadas/img_19_opt.jpg" class="d-block " alt="...">
    </div>
    <div class="carousel-item ">
      <img src="../../../assets/img_echadas/img_24_opt.jpg" class="d-block " alt="...">
    </div>
    <div class="carousel-item ">
      <img src="../../../assets/img_echadas/img_4_opt.jpg" class="d-block " alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carrousel_02" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carrousel_02" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<!--carrousel 03-->
<div id="carrousel_03" class="carousel slide " data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carrousel_03" data-slide-to="0" class="active"></li>
    <li data-target="#carrousel_03" data-slide-to="1"></li>
    <li data-target="#carrousel_03" data-slide-to="2"></li>
    <li data-target="#carrousel_03" data-slide-to="3"></li>
    <li data-target="#carrousel_03" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/img_cuadradas/img_007_opt.jpg" class="d-block " alt="...">
    </div>
    <div class="carousel-item ">
      <img src="../../../assets/img_cuadradas/img_03_opt.jpg" class="d-block " alt="...">
    </div>
    <div class="carousel-item ">
      <img src="../../../assets/img_cuadradas/img_12_opt.jpg" class="d-block " alt="...">
    </div>
    <div class="carousel-item ">
      <img src="../../../assets/img_cuadradas/img_13jpg_opt.jpg" class="d-block " alt="...">
    </div>
    <div class="carousel-item ">
      <img src="../../../assets/img_cuadradas/img_15_opt.jpg" class="d-block " alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carrousel_03" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carrousel_03" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--carrousel 04-->
<div id="carrousel_04" class="carousel slide " data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carrousel_04" data-slide-to="0" class="active"></li>
    <li data-target="#carrousel_04" data-slide-to="1"></li>
    <li data-target="#carrousel_04" data-slide-to="2"></li>
    <li data-target="#carrousel_04" data-slide-to="3"></li>

  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/img_cuadradas/img_20_opt.jpg" class="d-block " alt="...">
    </div>
    <div class="carousel-item ">
      <img src="../../../assets/img_cuadradas/img_21_opt.jpg" class="d-block " alt="...">
    </div>
    <div class="carousel-item ">
      <img src="../../../assets/img_cuadradas/img_22_opt.jpg" class="d-block " alt="...">
    </div>
    <div class="carousel-item ">
      <img src="../../../assets/img_cuadradas/prueba_opt.jpg" class="d-block " alt="...">
    </div>

  </div>
  <a class="carousel-control-prev" href="#carrousel_04" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carrousel_04" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="clearfix"></div>
<hr>
<audio src="../assets/oneRepublic.mp3" controls="controls" autoplay loop></audio>