<div id="video_rous">

    <video  autoplay loop>
        <source src="../../../assets/video_rous.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
</div>

<div id="felicitacion" >
    <br><br>
        <!--<img src="../../../assets/fondo_dani.jpg"  class="img-thumbnail"> -->
        <h4 class="display-8 font-weight-bolder" >Felicidades chiquiiiiiii....!!!!</h4>
        <br><br><br>
        <span class="font-italic badge badge-secondary"> Gracias por tu linda amistad  <br> Dios te bendiga muchísimo  <br> te deseo solamente lo mejor <br> y agradezco a la vida <br> haberme cruzado en tu camino...  <br> TQM no cambies, <br> eres única, que todos tus sueños <br>se hagan realidad hoy y siempre🤗🥳🥳🎂🎂🎂 </span>
        <br><br> <br><br><p class="badge badge-secondary ">psdt: gracias por apoyarme siempre <br> aunque aveces hago locuras😘</p>
</div>

<div class="clearfix"></div>
