#video_rous{
    width: auto;
    height: auto;
    float: left;
}
#felicitacion{
    padding: 50px;
    padding-top: 70px;
    width: 470px;
    height: 640px;
    float: left;
    background-image:url('../../../assets/fondo_rous.png');
    
}

h4{
    color: aqua;
    text-align: center;
}
p{
    color: rgb(231, 56, 247);
    font-size: medium;
    text-align: center;
}

span{
    color: rgb(96, 245, 91);
    font-size: medium;
    text-align: center;
}