<div class="container">
  <!--Contenedor Principal-->
  <br>
<!--
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../assets/f_01.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      eliz &nbsp;&nbsp;
      <img src="../assets/c.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      umpleaños &nbsp;&nbsp;
      <img src="../assets/M.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      arioly &nbsp;&nbsp;&nbsp;
      
      <img src="../assets/E.jpg" width="30" height="30" class="d-inline-block align-top"
        alt="" loading="lazy">
      spero &nbsp;&nbsp;&nbsp;&nbsp;
      <img src="../assets/q.jpg" width="30" height="30" class="d-inline-block align-top"
        alt="" loading="lazy">
        ue &nbsp;&nbsp;&nbsp;&nbsp;
        <img src="../assets/t.jpg" width="30" height="30" class="d-inline-block align-top"
        alt="" loading="lazy">
        engas &nbsp;&nbsp;&nbsp; &nbsp;
        <img src="../assets/u.png" width="30" height="30" class="d-inline-block align-top"
        alt="" loading="lazy">
        n &nbsp;&nbsp;&nbsp;
        <img src="../assets/d.jpg" width="30" height="30" class="d-inline-block align-top"
        alt="" loading="lazy">
        ía &nbsp;&nbsp;&nbsp;&nbsp;
        <img src="../assets/e_s.png" width="30" height="30" class="d-inline-block align-top"
        alt="" loading="lazy">
        special &nbsp;&nbsp;&nbsp;&nbsp;
      
    </a>
    
  
  </nav>
  -->

  <app-cabecera></app-cabecera>

  <!--Contenido-->
  <div class="clearfix"></div>
  <router-outlet></router-outlet>

  <!--Footer-->
  <footer>
    <hr>Pagina de Feliz Cumpleaños&copy;
    <hr>
  </footer>
</div>
<!--Cerrar Contenedor Princial-->
