
<div id="video">
    <div class="row">
  
      <div class="col-lg-12 col-md-12 col-sm-12">
  
  
  
        <video autoplay loop>
          <source src="../../../assets/LP_TokyoSunrise.mp4"  type="video/mp4">
        </video>
      </div>
  
    </div>
  </div>
  
  <div id="foto">
      <img src="../../../assets/img_lat_01_opt.png" alt="..." class="img-thumbnail">
  </div>
<div class="jumbotron">

  <h1 class="display-4 font-weight-bolder">Felicidades Chiki!!!</h1>
  <p class="lead p-2 font-weight-bolder">En este día especial, te prepare tus recuerdos y aunque a pesar de la distancia no podamos celebrarlo, aún se puede compartir el sentimiento, como dice la canción "Some day in the sky we'll see the same sun on the rise"..."Algún día en el cielo, veremos el mismo amanecer" </p>
  <hr class="my-4">
  <p class="font-italic p-2">Esperando que hayas pasado un bonito dia, te quise recordar que hay gente que te quiere y aprecia; me despido deseandote lo mejor de la vida... </p>
  <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Leer más
  </button>
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">&nbsp;&nbsp;&nbsp;   Sabemos que esta página web...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="mod_NSM" class="modal-body ">
          <img src="../../../assets/modal_opt.jpg" >
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

<div class="clearfix"></div>